.filter__demographic__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter__demographic {
  display: flex;
  justify-content: space-around;

  @include media('<phone') {
    flex-direction: column;
    justify-content: space-between;
    order: 3;
  }
}

.demographic__item {
  width: 50%;

  @include media('<phone') {
    width: 100%;
  }
}

.demographic__name {
  @extend %title-16;
}

.chart__wrapper {
  position: relative;
  width: 90%;
  margin: auto;

  @include media('<phone') {
    width: 100%;
  }
}

.chart {
  width: 100%;
  height: 100%;
  top: 0;
}

.demographic__description {
  @extend %description-20;
  max-width: 50%;

  @include media('<phone') {
    max-width: 100%;
    order: 2;
    margin-bottom: 6rem;
  }
}
