.filter__wrapper {
  @extend %container;
}

.filter__section{
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  @include media('<=phone') {
    width: 100%;
    padding: 0;
  }
}

.filter__cover{
  background-color: $color-darkest;
}

.filter__cover__image{
  width: 60rem;
  height: 80rem;
  margin: 0 auto;
  object-fit: cover;

  @include media('<phone') {
    width: 100%;
    height: auto;
  }
}

.filter__section__row{
  padding: 9rem 0;
  display: flex;

  @include media('<phone') {
    flex-direction: column;
    gap: 6rem;
  }
}

.filter__section__row__gallery{
  padding: 9rem 0;

  @include media('<phone') {
    padding-bottom: 0;
  }
}

.filter__name__wrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 2rem;

  @include media('<phone') {
    padding-right: 0;
    width: 100%;
  }
}
.filter__name{
  @extend %title-20;
}
.filter__description_wrapper{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 2rem;

  @include media('<phone') {
    padding-left: 0;
    width: 100%;
  }
}

.filter__description__title{
  @extend %title-20;

}
.filter__description{
  @extend %description-20;
}

.filter__gallery__wrapper{
  position: relative;
  display: flex;

  @include media('<phone') {
    flex-direction: column;
  }
}
.filter__gallery__preview{
  position: sticky;
  top:-3rem;
  align-self: flex-start;
  height: auto;
  width: 40%;
  padding-right: 2rem;
  z-index: 1;

  @include media('<phone') {
    top:0;
    width: 100%;
    padding-right: 0;
  }
}

.filter__preview__wrapper{
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 16rem);
  width: 100%;
  border: $color-darkest solid 1px;
  padding: 2rem;

  @include media('<phone') {
    flex-direction: row;
    padding: 2rem 0;
    background-color: $color-primary;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &:before {
      content:"";
      position:absolute;
      top: 100%;
      width:100%;
      bottom:1px;
      z-index: -1;
      transform:scale(.95);
      //box-shadow: 0px 0px 8px 2px #000000;
    }
  }
}
.filter__preview__media{
  max-width: 100%;
  max-height: 100%;
  max-height: calc(100vh - 32rem);
  object-fit: cover;
  object-position: top;
  border: $color-darkest solid 1px;
  margin-bottom: 2rem;

  @include media('<phone') {
    width: 50%;
    height: auto;
    padding: 0 2rem;
    margin-bottom: 0;
    border: none;
    border-right: $color-darkest solid 1px;
  }
}

.filter__gallery__comment {
  @extend %description-10;
  border: $color-darkest solid 1px;
  padding: 2rem;
  overflow-y: scroll;
  @include scrollbars;
  min-height: 8rem;

  @include media('<phone') {
    padding: 0 2rem;
    border: none;
  }
}

.filter__gallery{
  width: 60%;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2px;
  padding: 2px;
  background-color: $color-darkest;

  @include media('<phone') {
    width: 100%;
    margin-left: 0;
    margin-bottom: 9rem;
  }
}
.gallery__image__wrapper{
  position: relative;
  padding-top: 100%;
}

.filter__price {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-darkest;
  color: $color-lightest;
  font-size: 4rem;
  font-family: $playfair-display;
  opacity: 0;
  cursor: crosshair;
  transition: opacity .3s ease-in-out;

  &:hover{
    opacity: 1;
  }

  @include media('<phone') {
    font-size: 1.6rem;
  }
}

.gallery__image__media{
  @extend %cover;
  filter: grayscale(100%);
}


