header {
  z-index: z('navigation');
  background-color: $color-primary;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: translateX(-50%);

    @include media('<=phone') {
      width: 92%;
    }
  }

  @include media('<=phone') {
    width: 100%;
    padding: 2.5rem 4%;
  }
}

.navigation__home__wrapper{
  display: flex;
  flex-direction: row;
}

.navigation__mobile__toggle {
  display: none;
  width: 4rem;
  margin-right: 8px;
  position: relative;

  @include media('<=phone') {
    display: block;
  }
}

.navigation__mobile__icon {
  @extend %cover;
  stroke: $color-darkest;
}

.navigation__home__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__home__text {
  font-weight: bold;
}

.navigation__logo{
  stroke: $color-darkest;
  width: 3rem;
  margin-right: 2rem;

  @include media('<=phone') {
    display: none;
  }
}

.navigation__list {
  display: flex;

  @include media('<=phone') {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 4%;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    z-index: z('navigation');
  }
}

.navigation__list__item {
  margin-left: 4rem;
  position: relative;

  @include media('<=phone') {
    margin: 2.2rem 0;
    display: none;
    font-size: 2rem;
    font-weight: bold;
  }
}

.navigation__list__item__active {
  opacity: 50%;
  @include media('<=phone') {
    opacity: 100%;
    border: $color-darkest solid 1px;
    padding: 1rem 2rem;
  }
}

.navigation__list__link {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-darkest;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.navigation__language {
  display: flex;
}

.navigation__langauge__item {

  &:not(:last-child):after{
    content: "/";
    padding: 0 10px;
  }
}

.navigation__langauge__item__active a{
  transition: opacity .5s;
  opacity: 50%;
}

#overlay {
  z-index: z('overlay');
}
