%title-20 {
  font-family: $prettywise;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3.6rem;
  text-transform: capitalize;
  letter-spacing: 2px;

  @include media('<phone') {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
