%title-160 {
  font-family: $epilogue;
  font-size: 16rem;
  font-weight: bold;
  margin-bottom: 3.6rem;
  text-transform: capitalize;

  @include media('<phone') {
    font-size: 10rem;
    margin-bottom: 8rem;
  }
}

%title-22 {
  font-family: $prettywise;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 3.6rem;
  text-transform: capitalize;
  letter-spacing: 2px;

  @include media('<phone') {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
}

%title-20 {
  font-family: $epilogue;
  font-size: 2rem;
  margin-bottom: 3.6rem;
  letter-spacing: 2px;

  @include media('<phone') {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}
