$color-light: #E2DBCC;
$color-lightest: #F6EEDC;
$color-light-disabled: #E9E1CF;
$color-dark: #282828;
$color-darkest: #010121;
$color-dark-disabled: #252525;

$color-primary: #F4442D;
$color-error: #C53826;
$color-success: #24C377;

$epilogue: 'Epilogue';
$prettywise: 'Prettywise';

$z-indexes: ('navigation', 'overlay', 'content');
