$color-light: #e2dbcc;
$color-lightest: #f6eedc;
$color-light-disabled: #e9e1cf;
$color-dark: #282828;
$color-darkest: #010121;
$color-dark-disabled: #252525;

$color-primary: #f4442d;
$color-error: #c53826;
$color-success: #24c377;

$epilogue: 'Epilogue';
$prettywise: 'Prettywise';

$z-indexes: ('navigation', 'overlay', 'content');
