$color-light: #E2DBCC;
$color-lightest: #F6EEDC;
$color-light-disabled: #E9E1CF;
$color-dark: #282828;
$color-darkest: #000000;
$color-dark-disabled: #252525;

$color-primary: #A6CEA2;
$color-error: #D65B5B;
$color-success: #82DEA1;

$lato: 'Lato';
$playfair-display: 'Playfair Display';

$z-indexes: ('navigation', 'overlay', 'content');
