header
  nav.navigation
    a.navigation__link Home

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href='#') Link 1
      li.navigation__list__item
        a.navigation__list__link(href='#') Link 2
      li.navigation__list__item
        a.navigation__list__link(href='#') Link 3

    ul.navigation__language
      li.navigation__langauge__item EN
      li.navigation__langauge__item DE


