header
  nav.navigation
    a.navigation__link(href='/')= meta.title

    ul.navigation__list
      each item in navigation.pages
        li.navigation__list__item
          a.navigation__list__link(href=item.target)=item.title

    ul.navigation__language
      li.navigation__langauge__item EN
      li.navigation__langauge__item DE


