* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @extend %cover;
  font-size: calc(100vw / 1920 * 10);
  font-family: $epilogue;
  line-height: 1;
  background: $color-lightest;
  color: $color-dark;
  scroll-behavior: smooth;
  overflow-y: scroll;

  @include media('<phone') {
    font-size: calc(100vw / 480 * 10);
  }
}

body {
  @extend %cover;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  &:after {
    animation: grain 6s steps(10) infinite;
    background-image: url('../shared/grain.png');
    background-repeat: repeat;
    content: '';
    height: 300%;
    left: -100%;
    opacity: 0.08;
    pointer-events: none;
    position: fixed;
    top: -100%;
    transition: opacity 0.4s ease;
    width: 300%;
    will-change: transform;
    z-index: 3;
  }
}

@keyframes grain {
  0% {
    transform: translate(20%, -15%);
  }
  10% {
    transform: translate(-20%, -15%);
  }
  20% {
    transform: translate(20%, -5%);
  }
  30% {
    transform: translate(-20%, -5%);
  }
  40% {
    transform: translate(20%, 5%);
  }
  50% {
    transform: translate(-20%, 5%);
  }
  60% {
    transform: translate(20%, 15%);
  }
  70% {
    transform: translate(-20%, 15%);
  }
  80% {
    transform: translate(20%, 5%);
  }
  90% {
    transform: translate(-20%, 5%);
  }
  100% {
    transform: translate(20%, -5%);
  }
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.content {
  transform: translateZ(0px);
  height: 100vh;
  // overflow: auto;
  padding-top: 15.2rem;

  @include scrollbars;

  @include media('<phone') {
    padding-top: 8rem;
  }
}

.wrap {
  border-right: 0.08em solid $color-primary;
}

.mobile__only {
  @include media('>phone') {
    display: none;
  }
}
