@font-face {
  font-family: $epilogue;
  src: url('../fonts/Epilogue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $epilogue;
  src: url('../fonts/Epilogue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $epilogue;
  src: url('../fonts/Epilogue-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $prettywise;
  src: url('../fonts/Prettywise-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $prettywise;
  src: url('../fonts/Prettywise-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
