extends ../index

block variables
  - var template = 'home';

block content
  .home
    .home__wrapper
      section.home__header
        .home__section__row
          h1.home__page__title= meta.title
          .home__image__stream
            each media in randomImages
              img.home__stream__media(src='img/200x200/' + media)
