.home__wrapper {
  @extend %container;
}

.home__section__header {
  @extend %section;
  height: calc(100vh - 30rem);
  display: flex;
  justify-content: center;

  @include media('<=phone') {
    justify-content: start;
  }
}

.filter__section {
  @extend %section;
}

.home__section__row__header {
  @extend %row;
  margin: auto 0;
  flex-direction: column;

  @include media('<=phone') {
    margin: 0;
  }
}

.home__page__title {
  @extend %title-160;
  color: $color-primary;
  margin: 8rem auto;
  text-align: center;

  @include media('<=phone') {
    text-align: left;
  }
}

.home__image__stream {
  position: fixed;
  inset: 0;
  z-index: 1;
  transform-style: preserve-3d;
}

.home__stream__media {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  filter: grayscale(100%) brightness(50%);
  width: 200px;
  height: 200px;

  border: $color-darkest 0.5px solid;
  z-index: 1;
}

.home__section__row {
  @extend %row;
  flex-direction: column;
}

.home__intro__wrapper {
  width: 100%;
  margin-top: 16rem;
  display: flex;
}

.home__empty {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 2rem;

  @include media('<phone') {
    display: none;
  }
}

.home__intro__item {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 2rem;

  @include media('<phone') {
    padding-left: 0;
    width: 100%;
  }
}

.start__button {
  @extend %button-black;
  margin-top: 4rem;
}
