.home__wrapper {
  @extend %container;
}

.home__section__header {
  height: calc(100vh - 30rem);
  display: flex;
  justify-content: center;

  @include media('<=phone') {
    justify-content: start;
    width: 100%;
    padding: 0;
  }
}

.home__section__row__header {
  @extend %row;
  margin: auto 0;
  flex-direction: column;

  @include media('<=phone') {
    margin: 0;
  }
}

.home__page__title {
  @extend %title-160;
  color: $color-primary;
  margin: 8rem auto;
  text-align: center;
  word-break: break-word;

  @include media('<=phone') {
    text-align: left;
  }
}

.home__image__stream {
  position: fixed;
  inset: 0;
  z-index: 1;
  transform-style: preserve-3d;
}

.home__stream__media {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  filter: grayscale(100%) brightness(80%);
  width: 200px;
  height: 200px;

  border: $color-darkest 0.5px solid;
  z-index: 1;
}

.home__section__row {
  @extend %row;
  flex-direction: column;
}

.home__intro__wrapper {
  width: 100%;
  margin-top: 16rem;
  display: flex;
  z-index: 2;

  @include media('<phone') {
    flex-direction: column;
    margin-top: 4rem;
  }
}

.home__empty {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 2rem;
  margin-right: 2rem;

  @include media('<phone') {
    display: none;
  }
}

.home__intro__item {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 2rem;

  @include media('<phone') {
    padding-left: 0;
    width: 100%;
  }
}

.start__button {
  @extend %button-black;
  margin-top: 4rem;
}

.home__preview__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 16rem);
  width: 40%;
  border: $color-darkest solid 1px;
  padding: 2rem;
  margin-right: 2rem;

  @include media('<phone') {
    width: 100%;
    flex-direction: row;
    margin: 0 0 4rem 0;
  }
}

.home__description__title {
  @extend %title-22;
}

.home__description {
  @extend %description-20;
  margin-bottom: 2rem;
}

.home__description span {
  color: $color-primary;
  cursor: pointer;

  position: relative;
  padding-bottom: 0.5rem;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.home__pointer {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #c53826;
  animation-name: pointer;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes pointer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
